<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Bill</title>
</head>
<body>
<h2>Your Order Is Completed!</h2>
<div class="your-order-wrap gray-bg-4">
    <div class="your-order-info-wrap">
        <div class="your-order-info">
            <h4>Your Products are :</h4>
        </div>
        <div class="your-order-middle">
            {% for rs in shopcart %}
                <ul>
                    <li>{{ rs.product }} X {{ rs.quantity }} = <span>${{ rs.amount }} </span></li>
                </ul>
            {% endfor %}
        </div>
        <div class="your-order-info order-subtotal">
            <h4>Total : ${{ total }}</h4>
        </div>
        <div class="your-order-info order-total">
            <h4>Grand Total : <span>${{ grand_total }}(with GST) </span></h4>
        </div>
    <div class="your-order-info order-code">
        <h4>Order Code : <span>{{ ordercode }}</span></h4>
        </div>
    </div>
<h3>Your Order Will Be Delivered In 2 to 3 Working Days</h3>
<h2>Thanks For Shopping With Us, Have A Nice Day!</h2>
</body>
</html>