{% load static %}
<div class="header-top header-top-ptb-1 border-bottom-1">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="social-offer-wrap">
                    <div class="social-style-1">
                        <a href="#"><i class="icon-social-twitter"></i></a>
                        <a href="#"><i class="icon-social-facebook"></i></a>
                        <a href="#"><i class="icon-social-instagram"></i></a>
                        <a href="#"><i class="icon-social-youtube"></i></a>
                        <a href="#"><i class="icon-social-pinterest"></i></a>
                    </div>
                    <div class="header-offer-wrap-2">
                        <p><span>FREE SHIPPING</span> world wide for all orders over $199</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="header-top-right">
                    <div class="same-style-wrap">
                        <div class="same-style same-style-mrg-2 track-order">
                            <a href="store-location.html">Store Location </a>
                        </div>
                        <div class="same-style same-style-mrg-2 currency-wrap">
                            <a class="currency-dropdown-active" href="#"> USD($) <i class="icon-arrow-down"></i></a>
                            <div class="currency-dropdown">
                                <ul>
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">EUR</a></li>
                                    <li><a href="#">BDT</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="same-style same-style-mrg-2 language-wrap">
                            <a class="language-dropdown-active" href="#">English <i class="icon-arrow-down"></i></a>
                            <div class="language-dropdown">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-middle header-middle-padding-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-2 col-lg-2">
                <div class="logo">
                    <a href="index.html"><img src="{% static '' %}assets/images/logo/logo.png" alt="logo"></a>
                </div>
            </div>

            <script>
                $(function () {
                    $("#query").autocomplete({
                        source: "/search_auto/",
                        select: function (event, ui) { //item selected
                            AutoCompleteSelectHandler(event, ui)
                        },
                        minLength: 2,
                    });
                });

                function AutoCompleteSelectHandler(event, ui) {
                    var selectedObj = ui.item;
                }

            </script>

            <div class="col-xl-7 col-lg-7">
                <div class="categori-search-wrap">
                    <div class="categori-style-1">
                        <select name="category_id" class="nice-select nice-select-style-1">
                            <option value="0">All Categories</option>
                            <option value="1">Clothing</option>
                            <option value="2">T-Shirt</option>
                        </select>
                    </div>
                    <div class="search-wrap-3">
                        <form action="{% url 'search' %}" method="get">
                            {% csrf_token %}
                            <input id="query" name="query" placeholder="Search Products..." type="text">
                            <button><i class="lnr lnr-magnifier"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="header-action header-action-flex">
                    {% if user.id is not None %}
                        <div class="same-style-2 same-style-2-font-inc">
                            <a href="{% url 'my_account' %}"><img src="{{ request.session.userimage }}"
                                                                  style="height: 70px; border-radius: 30%"
                                                                  alt="">{{ user.first_name }}</img></a>
                        </div>
                    {% else %}
                        <div class="same-style-2 same-style-2-font-inc">
                            <a href="/login/" style="font-size:17px">Login<i class="icon-user" ></i></a>
                        <a href="/signup/" style="font-size:17px">SignUp<i class="icon-user"></i></a>
                        </div>

                    {% endif %}
                    <div class="same-style-2 same-style-2-font-inc">
                        <a href="wishlist.html"><i class="icon-heart"></i><span class="pro-count green">03</span></a>
                    </div>
                    <div class="same-style-2 same-style-2-font-inc header-cart">
                        <a href="/addtoshopcart/">
                            <i class="icon-basket-loaded"></i><span class="pro-count green">{{ count }}</span>
                            <span class="cart-amount">$ {{ total }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>